doctype html
html
  head
    title Categorías
  body
    form(action=`/categories/${category.id}?_method=PUT` method="POST")
      input(type="text" name="title" value=category.title placeholder="Título de la categoría")
      input(type="color" name="color" value=category.color)
      input(type="submit" value="Guardar")
