<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
    <h1>Hola mundo</h1>
    <p>Desde ejs</p>
  </body>
</html>
