doctype html
html
  head
    title Tareas
  body
    form(action="/tasks" method="POST")
      textarea(name="description" placeholder="Coloca aquí el pendiente a realizar")
      input(type="submit" value="Guardar")
