doctype html
html
  head
    title Tareas
  body
    form(action="/sessions" method="POST")
      input(type="email" name="email" placeholder="Correo electrónico")
      input(type="password" name="password" placeholder="Contraseña")
      input(type="submit" value="Iniciar sesión")
